n8n_workflows/autoblog_daily_pipeline.json
{
  "name": "AutoBlog Daily Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 6 AM WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/pipeline/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "force",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "run-pipeline",
      "name": "Trigger Pipeline API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "content": "## ✅ AutoBlog Success\n\n**Artikel:** {{ $json.article_title }}\n**Keyword:** {{ $json.keyword }}\n**Words:** {{ $json.word_count }}\n**Duration:** {{ $json.processing_time_seconds }}s\n**Draft:** {{ $json.wp_draft_url }}",
        "options": {}
      },
      "id": "success-note",
      "name": "Success",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "content": "## ❌ AutoBlog Failed\n\n**Keyword:** {{ $json.keyword }}\n**Error:** {{ $json.error_message }}\n**Duration:** {{ $json.processing_time_seconds }}s",
        "options": {}
      },
      "id": "failure-note",
      "name": "Failure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/health/",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, 500],
      "notes": "Optional: Pre-check API health before running pipeline"
    }
  ],
  "connections": {
    "Daily 6 AM WIB": {
      "main": [
        [
          {
            "node": "Trigger Pipeline API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Pipeline API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "autoblog-generator"
  },
  "id": "autoblog-daily-pipeline",
  "tags": ["autoblog", "wordpress", "seo"]
}
