n8n_workflows/autoblog_manual_trigger.json
{
  "name": "AutoBlog Manual Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-blog",
        "authentication": "none",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "autoblog-manual"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/pipeline/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.body.keyword }}"
            },
            {
              "name": "force",
              "value": "={{ $json.body.force || false }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "run-pipeline",
      "name": "Run Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Run Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Pipeline": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "autoblog-manual-trigger",
  "tags": ["autoblog", "manual"]
}
